<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Hotshot</title>
	
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
	
    <!-- CSS Dependencies -->
	<link rel="stylesheet" href="{{ url_for('static', filename='./css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='./css/shards.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
	
	<!-- Optional JavaScript -->
    <!-- JavaScript Dependencies: jQuery, Popper.js, Bootstrap JS, Shards JS -->
	<script src="{{ url_for('static', filename='./js/jquery-3.2.1.min.js') }}"></script>
	<!--script src="{{ url_for('static', filename='./js/popper.js') }}"></script-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
	<script src="{{ url_for('static', filename='./js/utils.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/tether.min.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/shards.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='./js/hotShot.js') }}"></script>
	<script type=text/javascript>
		var obj = new hotShot({{machineInformation['NumberOfSlots']}},{{machineInformation['DrinkVariations']}});
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script type=text/javascript>
	  $(function () {
		$('#sendSchnapsNumbers').bind('click', function() {
			$('.loader').show("fast");
			$('.card-img-overlay').show('fast');
		  $.getJSON($SCRIPT_ROOT + '/order', {
			orders: obj.numberPerDrink
		  }, function(data) {
			$('.loader').hide();
			$('.card-img-overlay').hide();
			console.log(data.result);
			obj.resetNumberOfDrinks();
			console.log(obj.numberPerDrink);
		  });
		  return false;
		});
		$('#sendCompetitorNumber').bind('click', function() {
		  $.getJSON($SCRIPT_ROOT + '/game', {
			competitors: obj.numberOfCompetitors
		  }, function(data) {
			obj.resetNumberOfCompetitors();
			console.log(data.result);
		  });
		  return false;
		});
	  });
	</script>
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
		<img src="{{ url_for('static', filename='./images/logo.svg') }}" alt="Example Navbar 1" class="mr-2" height="30px">
		<a class="navbar-brand" href="#">Hotshot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1"
				aria-controls="navbarNavDropdown-1"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown-1">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Einstellung</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Verfahren</a>
				</li>
			</ul>
		</div>
	</nav>
	
	
	
	<div class="row">
		<div class="col-sm-6">
			<div class="card main-view">
				<img class="card-img-top" src="{{ url_for('static', filename='./images/schnaps.jpg') }}" alt="Card image cap">
				<div class="card-img-overlay"><div class="loader"></div></div>
				<div class="card-body">
					<h4 class="card-title">Shots ausschenken</h4>
					<p class="card-text">Einfach Anzahl Shots auswählen, ausgeben drücken und los gehts</p>
					<a href="#demo" class="btn btn-primary" data-toggle="collapse">Zeig mir mehr &rarr;</a>
				</div>
			  
				<div id="demo" class="collapse">
					<div div class="alert alert-warning" role="alert" id="myAlert" role="alert">
					  <strong>Achtung</strong> Maximale Anzahl erreicht.
					</div>
					<form>
					{% for schnaps in schnapsList %}
						<div class="value-change">
							<h4>{{schnaps["name"]}}</h4>
							<button type="button" class="btn btn-primary" onclick="obj.subtractToDrink({{schnaps['number']}},'#{{schnaps['id']}}')" >–</button>
							<label class="statusLabel" id="{{schnaps['id']}}">0</label>
							<button type="button" class="btn btn-primary" onclick="obj.addToDrink({{schnaps['number']}},'#{{schnaps['id']}}')" >+</button>
						</div>
					{% endfor %}
						<div class="value-change">
							<button type="submit" class="btn btn-success" id="sendSchnapsNumbers">Ausgeben</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		
		<div class="col-sm-6">
			<div class="card main-view">
				<img class="card-img-top" src="{{ url_for('static', filename='./images/roulett.jpg') }}" alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">Shot Game</h4>
					<p class="card-text">Jetzt ist es nicht mehr eure Wahl. Shots per Zufall. Einfach die Teilnehmer Anzahl auswählen. Lasst die Spiele beginnen!</p>
					<a href="#new" class="btn btn-primary" data-toggle="collapse">Zeig mir mehr &rarr;</a>
				</div>
				
				<div id="new" class="collapse">
					<div div class="alert alert-warning" role="alert" id="myAlert2" role="alert">
					  <strong>Achtung</strong> Maximale Teilnehmeranzahl erreicht.
					</div>
					<form>
						<div class="value-change">
							<h4>Anzahl Teilnehmer</h4>
							<button type="button" class="btn btn-primary" onclick="obj.subtractCompetitor()" >–</button>
							<label id="competitorsLabel">0</label>
							<button type="button" class="btn btn-primary" onclick="obj.addCompetitor()" >+</button>
						</div>
						<div class="value-change">
							<button type="submit" class="btn btn-success" id="sendCompetitorNumber">Ausgeben</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>