<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Hotshot</title>
	
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
	
    <!-- CSS Dependencies -->
	<link rel="stylesheet" href="{{ url_for('static', filename='./css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='./css/shards.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
	
	<!-- Optional JavaScript -->
    <!-- JavaScript Dependencies: jQuery, Popper.js, Bootstrap JS, Shards JS -->
	<script src="{{ url_for('static', filename='./js/jquery-3.2.1.min.js') }}"></script>
	<!--script src="{{ url_for('static', filename='./js/popper.js') }}"></script-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
	<script src="{{ url_for('static', filename='./js/utils.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/tether.min.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/shards.min.js') }}"></script>
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
		<img src="{{ url_for('static', filename='./images/logo.svg') }}" alt="Example Navbar 1" class="mr-2" height="30px">
		<a class="navbar-brand" href="#">Hotshot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1"
				aria-controls="navbarNavDropdown-1"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown-1">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Einstellung</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Verfahren</a>
				</li>
			</ul>
		</div>
	</nav>
	
	
	
	<div class="row">
		<div class="col-sm-6">
			<div class="card main-view">
				<img class="card-img-top" src="{{ url_for('static', filename='./images/schnaps.jpg') }}" alt="Card image cap">
				<div class="card-img-overlay"><div class="loader"></div></div>
				<div class="card-body">
					<h4 class="card-title">Einstellungen</h4>
					<p class="card-text">Schnäpse festlegen:</p>
					<form role="form" action="changesettings"  method=post>
					{% for schnaps in schnapsList %}
						<div class="value-change">
							<h4>Schnaps {{schnaps["number"]}}</h4>
							<input type="text" name="{{schnaps['id']}}" value="{{schnaps['name']}}"></input>
						</div>
					{% endfor %}
						<div class="value-change">
							<button type="submit" class="btn btn-success">Speichern</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>