.main-view{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

.value-change{
	text-align: center;
	margin-bottom: 3%;
}

.value-change > label{
	width: 50%;
}

.input-field{
	height: 2em;
}

#myAlert{
	display: none;
}

#myAlert2{
	display: none;
}

.btn-success{
	width: 75%;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid blue;
	border-bottom: 16px solid blue;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	display: none;
  	text-align:center;
	margin: auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card-img-overlay{
	width: 100%;
	height: 100%;
	background-color: white;
	visibility: 10%;
	display: none;
}