.main-view{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

.value-change{
	text-align: center;
	margin-bottom: 3%;
}

.value-change > label{
	width: 50%;
}

.input-field{
	height: 2em;
}

#myAlert{
	display: none;
}

#myAlert2{
	display: none;
}

.btn-success{
	width: 75%;
}